.org {
    display: block;

    h1 {
        padding-top: 20vh;
        padding-bottom: 15vh;
        text-align: center;
    }

    &__organograma {
        padding: 2vw 5.6vw;

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;




            .img--org {
            max-width: 100%;
            }

            &__p {
                display: flex;
                flex-direction: column;

                h3 {
                    margin-top: 15px;
                }

                img {
                    height: 108px;
                    width: 108px;
                    float: left;
                    border: 2px solid black;
                    border-radius: 25%;
                    margin: 10px 0;
                    
                }
            }
        }


    }

}