@use 'hero';


@font-face {
    font-family: principal;
    src: url(../../assetes/fonts/principal.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Titulo;
    src: url(../../assetes/fonts/Titulo.otf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

$corDeFundo: #000000;

body {
    background-color: $corDeFundo;
    font-family: principal, sans-serif;
}